/* your code here */
 body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
.head{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding:0px 20px 30px 30px;
	align-items: center;
}

    footer {
        background-color: black;
        color: #fff;
        padding: 50px 0px 0;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
        max-width: 1200px;
        margin: auto;
    }
.footer-box{
	padding:30px;
}
    .footer-box h3 {
        margin-bottom: 15px;
        font-size: 18px;
        border-bottom: 2px solid #00c6ff;
        display: inline-block;
        padding-bottom: 5px;
    }

    .footer-box ul {
        list-style: none;
        padding: 0;
    }

    .footer-box ul li {
        margin: 10px 0;
    }

    .footer-box ul li a {
        color: #ddd;
        text-decoration: none;
    }

    .footer-box ul li a:hover {
        color: #00c6ff;
    }

    .social-icons a {
        display: inline-block;
        margin: 8px 5px 0 0;
        color: #fff;
        font-size: 18px;
        background: #1f4068;
        padding: 10px;
        border-radius: 50%;
        transition: 0.3s;
    }

    .social-icons a:hover {
        background: #00c6ff;
    }

    .footer-bottom {
        margin-top: 40px;
        background: #0b1c24;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-bottom a {
        color: #00c6ff;
        text-decoration: none;
    }
.footer-bottom{
	padding:10px 30px;
}

    @media (max-width: 8=900px) {
        .footer-bottom {
            text-align: center;
            flex-direction: column;
            justify-content:space-between;
        }
    }